body{background-color: #faf4f5;}

*{margin: 30%
padding: 3%
text-align:centerS
}

button{background-color: #EC4067}

.Web1 h3{color:#EC4067;}

.Web2 h3{color: #EC4067;}

.Web3 h3{color: #EC4067;}

.Web4 h3{color: #EC4067;}

